@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');


body {
  font-family: 'PT Sans', serif;
  text-rendering: optimizeLegibility;
  padding: 5vw;
  max-width: 1300px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

/* ----------- Animation ----------- */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.black {
  color: #000000;
}

.left {
  width: 40vw;
  min-width: 500px;
  display: inline-block;
  height: 80vh;
}

.right {
  display: inline-block;
  position: absolute;
  width: 40vw;
  left: 50vw;
}

h1 {
  font-family: 'League Spartan';
  font-size: 28px;
  color: #7A7A7A;
  letter-spacing: 0.71px;
  line-height: 6px;
  display:inline-block;
}

a {
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.34px;
  display: block;
  font-family: 'League Spartan';
}

a h1 {
  position: relative;
}

a h1:before {
  content: "";
  position: absolute;
  width: 103%;
  margin-top: 4px;
  margin-left: -7px;
  height: 15px;
  display: block;
  background-color: #FBF38D;
  visibility: hidden;
  z-index: -20;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

a h1:hover:before {
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.all_projects_url {
  position: relative;
  display: inline-block;
  font-family: 'League Spartan';
}

.all_projects_url:before {
  content: "";
  position: absolute;
  width: 110%;
  margin-top: 7px;
  margin-left: -5px;
  height: 10px;
  display: block;
  background-color: #FBF38D;
  visibility: hidden;
  z-index: -20;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.all_projects_url:hover:before {
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

p a {
  position: relative;
  display: inline-block;
}

p a:before {
  content: "";
  position: absolute;
  width: 110%;
  margin-top: 18px;
  margin-left: -2px;
  height: 10px;
  display: block;
  background-color: #FBF38D;
  visibility: visible;
  z-index: -20;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.about {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.37px;
  line-height: 36px;
  width: 90%;
}

.section_line {
  border-bottom: 1px solid black;
  display: block;
  width: 100px;
  margin: 30px 0 20px 0;
}

.list_projects {
  position: fixed;
  width: 100vw;
  top: auto;
  height: 20px;
  bottom: 0;
  left: 0;
  padding: 20px 70px;
  background-color: #F8F8F8;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.list_projects a {
  font-size: 14px;
}

.arrow {
  margin-left: 15px;
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.top {
  height: 90vh;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.img_flip {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.project_img {
  background: url();
  background-repeat:no-repeat;
  background-position: center center;
  background-size:     cover;
  width: 100%;
}

.all_projects {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
  padding-right: 70px;
}

.column {
  -webkit-box-flex: calc(100% / 3);
      -ms-flex: calc(100% / 3);
          flex: calc(100% / 3);
  display: inline-block;
}

.column a {
  display: inline-block;
}

.column a p {
  font-family: 'PT Sans', serif;
}

@media screen and (max-width: 1100px) {
  .right {
    width: 30vw;
    left: 60vw;
  }
  .column {
    -webkit-box-flex: calc(100% / 2);
        -ms-flex: calc(100% / 2);
            flex: calc(100% / 2);
  }
}

@media screen and (max-width: 950px) {
  .right {
    display: none;
  }
}

@media screen and (max-width: 650px) {
.column {
  -webkit-box-flex: calc(100% / 1);
      -ms-flex: calc(100% / 1);
          flex: calc(100% / 1);
}
}
